{% extends "base_for_contact.html" %} {% block title %} HomePage {% endblock title %} {%
block content %}
<style>
  * {
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(135deg, #2d0b5e, #3f0055);
    padding: 0px;
    margin:0px;
  }
  .first-div{
    font-size: 60px;
    font-weight: bold;
    color: yellow;
    text-align: center;
    margin-left: 150px;
    border-radius: 15px;
    background-color: linear-gradient(135deg, #2d0b5e, #3f0055);
    
    width: 40%;
  }
  .first-div p{
    font-size: 25px;
    color: antiquewhite;
    font-family: serif;
    font-style: inherit;
  }
</style>


<section style="display: flex; gap:3rem;">
  <div class="first-div" >
    WHO WE ARE??
    <hr style="background-color: grey;">
    <h3 style="background-color:#3f0055;">A group of five coders!</h3>
    <p style="background: linear-gradient(135deg, #2d0b5e, #3f0055);
"> Shree Panch isn't just a group of five coders — we're a crew of problem-solvers, dreamers, and builders who came together to do more than just hack. We’re five minds from different walks, united by a shared passion for using tech to spark change.

Rooted in collaboration and crowned with creativity, our name "Shree Panch" reflects both our strength in unity and our ambition to lead with purpose. Whether it’s AI models, sleek frontends, or killer pitches — we bring the fire, the finesse, and the focus.

We don’t just write code — we tell stories through technology. And we’re just getting started.</p>
</div>
<div style="color:gold;width:45%;" class="first-div">
    नमस्कार
    <hr style="background-color: grey;">

    <p style="font-size: 30px;">
    <br>
    हामी राजाबादी समूह हौ|
    <br>
  यदि हाम्रो देशमा राजा आए भने, हाम्रो देशको विकास हुनेछ।
    राजा हाम्रो देशको शान हुन, पहिचान हुन।
    <br>
    तेसैले अन्त्यमा हामी यही भन्न चाहन्छौं कि, राजा आऊ देश बचाऊ।
    <br>
    </p>
    <h1 style="font-size: 60px;font-weight:bold;">जय देश, जय राजा।</h1>
    <hr style="background-color: grey;">
    <h1 style="font-size:70px;text-align:right;margin-right:40px;">- श्री ५</h1>

  </div>
  
</section>
<footer style="background-color:#220549; color: gray; text-align: center; padding: 20px; font-size: 0.9rem;">
  <p style="background-color: #220549;">© 2025 Shree Panch. All Rights Reserved.</p>
  <p style="background-color: #220549;">Crafted with legacy by Team Royalty.</p>
</footer>
{% endblock content %}
